body{
    width: 500px;
    text-align: center;
    margin:auto;
    background-color: #F5D0A9;
}

div#titulo{
    background-color:cadetblue ;
    height: 50px;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 10px;
}

table{
    margin: auto;
    background-color:cadetblue ;
}
form{
    background-color:cadetblue ;
    padding:10px;
}
a{
    text-decoration: none;
    color:#0B615E;
}
